.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 7.5rem;
  margin-bottom: 3rem;
}

.x-large {
  font-size: 4rem;
  line-height: 1.2rem;
  margin-bottom: 3rem 0;
}

.large {
  font-size: 3rem;
  line-height: 1.2rem;
  margin: 2.7rem 0 3.5rem;
}

.medium {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.lead {
  font-size: 1.55rem;
  line-height: 1.7em;
  margin: 2rem 0;
}

.subtitle {
  font-size: 1.3rem;
  line-height: 1.7em;
  margin: 1.5rem 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-1.5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-2.5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.text-primary {
  color: #2a7a04;
}

.bg-primary {
  background-color: #2a7a04;
  color: #fff;
}

.bg-dark {
  background-color: #282e34;
  color: #fff;
}

.bg-light {
  background-color: #f4f4f4;
  color: #282e34;
}

.bg-lighter {
  background: #f9f9f9;
}

.card {
  background: #f4f4f4;
  padding: 1rem 1.5rem;
}

.card-dark {
  background: #e7e7e7;
  padding: 1.5rem 1.5rem;
}

.card-dark p {
  font-size: 1.2rem;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.7rem 0;
}

.btn {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 0.6rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn.btn-primary {
  background-color: #2a7a04;
  color: #fff;
}

.btn.btn-primary:hover {
  background: #339305;
}

.btn.btn-dark {
  background-color: #282e34;
  color: #fff;
}

.btn.btn-dark:hover {
  background: #333b42;
}

.btn.btn-light {
  background-color: #f4f4f4;
  color: #282e34;
}

.btn.btn-light:hover {
  background: white;
}

.btn.btn-success {
  background-color: green;
  color: #fff;
}

.btn.btn-success:hover {
  background: #009a00;
}

.btn.btn-danger {
  background-color: red;
  color: #fff;
}

.btn.btn-danger:hover {
  background: #ff1a1a;
}

.btn:hover {
  background: #54616e;
  color: #fff;
}

.form-group {
  margin: 1.2rem 0;
}

.form input[type='number'],
.form select {
  padding: 0.3rem;
  font-size: 1.2rem;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
}

.form input[type='text'] {
  padding: 0.3rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form label {
  padding: 0.3rem;
  font-size: 1.2rem;
}

.form textarea {
  font-size: 1.2rem;
  width: 100%;
  border: 1px solid #ccc;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #2a7a04;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1.5rem;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 0.8rem;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #111;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #44c406;
  opacity: 0.9;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
  color: #f4f4f4;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navbar a:hover {
  color: #2a7a04;
}

.navbar i {
  color: #2a7a04;
}

.login {
  background-color: #2a7a04;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.login:hover {
  background-color: #f4f4f4;
}

.login a:hover {
  color: #282e34;
}

.navbar-logo {
  font-size: 2em;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.pimg1 a, .pimg2 a, .pimg3 a {
  color: #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.pimg1 a:hover, .pimg2 a:hover, .pimg3 a:hover {
  color: #2a7a04;
}

.pimg1 {
  background-image: url("../images/pimg1.jpeg");
  min-height: 100vh;
}

.pimg2 {
  background-image: url("../images/pimg2.jpeg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../images/pimg3.jpeg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section h2 {
  margin: 1.25rem;
}

.section p {
  margin: 1rem auto;
  width: 80%;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext.title {
  font-size: 40px;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
  color: #000;
}

.pimg2 a {
  color: #f4f4f4;
}

#section1 {
  margin: 4rem 0 4rem 0;
}

#section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f4f4;
}

#section2 #info p {
  padding: 2rem 2rem 2rem 3rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

#section2 #info #para1 {
  margin-top: 1.5rem;
}

#section2 #leaf-drop {
  max-width: 400px;
}

#section3 {
  margin-top: 6rem;
}

#section3 h2 {
  margin-bottom: 4rem;
}

#section3 #grid {
  display: -ms-grid;
  display: grid;
  text-align: center;
      grid-template-areas: "square1 square2" "square3 square4";
}

#section3 #grid #square1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: square1;
}

#section3 #grid #square2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: square2;
}

#section3 #grid #square3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: square3;
}

#section3 #grid #square4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: square4;
}

#section3 #grid #square1, #section3 #grid #square2, #section3 #grid #square3, #section3 #grid #square4 {
  padding: 3rem;
}

#section3 #grid h3 {
  margin: 1.5rem 0 1rem 0;
  font-size: 1.5rem;
}

#section3 #grid p {
  font-size: 1.2rem;
}

#section3 #grid i {
  color: #2a7a04;
}

section#finder-info {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

section#finder-info i {
  margin: 0.5rem 1rem 0 0;
}

section#finder-info p {
  line-height: 2rem;
}

section#condition-selector {
  background-color: #f4f4f4;
  margin: 4rem 0rem 4rem 0;
}

section#condition-selector h2 {
  padding: 2rem 2rem 0 2rem;
  margin: 0;
}

section#condition-selector #buttons {
  background-color: #f4f4f4;
  padding: 2rem;
}

section#condition-selector #buttons button {
  margin: 0.8rem;
}

section#condition-list h2 {
  margin-top: 1rem;
}

section#condition-list .condition {
  margin-bottom: 2rem;
}

section#condition-list li {
  list-style: none;
}

section#condition-list a {
  font-size: 1.2rem;
}

section#condition-list a:hover {
  color: #2a7a04;
}

#dispensary i {
  color: #2a7a04;
  margin-right: 1rem;
}

#dispensary #card-one p {
  font-weight: 500;
  margin: 1.7rem 0;
}

#dispensary .list-group i {
  margin-top: 0.4rem;
}

.action-indication {
  margin-bottom: 3rem;
}

.action-indication h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #2a7a04;
}

.action-indication h4 {
  font-size: 1.1rem;
}

.action-indication .actions {
  padding-bottom: 1rem;
}

.action-indication .indications i {
  padding: 0.3rem 0rem 0 0.5rem;
}

#other-info h3 {
  color: #2a7a04;
  margin-bottom: 0.5rem;
}

#other-info p {
  margin-bottom: 1rem;
}

#other-info div {
  padding-top: 0;
}

#other-info #spacer {
  padding-top: 1rem;
}

#herb-select-btns {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #282e34;
}

#herb-id {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
      grid-template-areas: "subs image" "subs image";
  margin-bottom: 3rem;
}

#herb-id #herb-title {
  margin: 0 0 2rem 0;
  padding-bottom: 2rem;
}

#herb-id #herb-subtitles {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: subs;
}

#herb-id #herb-img img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: image;
  max-height: 400px;
}
