@import 'config';
@import 'utilities';
@import 'form';
@import 'dropdown';

// Resets
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

// Core styling
body, html {
  height:100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #333;
  background-color: #fff;
}

a {
  text-decoration:none;
  color: #111;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px lighten($primary-color, 15%);
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    padding: 0.45rem;
    margin: 0 0.25rem;
    color: $light-color;
    transition: all 0.2s ease-in;

    &:hover {
      color: $primary-color;
    }
  }

  i {
    color: $primary-color;
  }

}

.login {
  background-color: $primary-color;
  border-radius: 5px;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: $light-color;
  }

  a:hover {
    color: $dark-color;
  }
}

.navbar-logo {
  font-size: 2em;
}



// Landing Page

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;

  a {
    color: #000;
    transition: all 0.2s ease-in;

    &:hover {
      color: $primary-color;
    }
  }
}

.pimg1{
  background-image: url('../images/pimg1.jpeg');
  min-height: 100vh;
}

.pimg2{
  background-image: url('../images/pimg2.jpeg');
  min-height: 400px;
}
.pimg3{
  background-image: url('../images/pimg3.jpeg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding:50px 80px;

  h2 {
    margin: 1.25rem;
  }

  p {
    margin: 1rem auto;
    width: 80%;

  }
}

.section-light{
  background-color: $light-color;
  color:#666;
}

.section-dark{
  background-color: $dark-color;
  color: #ddd;
}

.ptext{
  position:absolute;
  top:45%;
  width:100%;
  text-align:center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext.title{
  font-size:40px;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px
}

.ptext .border.trans{
  background-color: transparent;
  color: #000;
}

.pimg2 a{
  color:#f4f4f4;
}


// How To Use
#section1 {
  margin: 4rem 0 4rem 0;
}

#section2 {
  display: flex;
  background-color: $light-color;
  
  #info {
    p {
      padding: 2rem 2rem 2rem 3rem;
      font-size: 1.2rem;
      line-height: 2rem;
    }
    #para1 {
      margin-top: 1.5rem;
    }
  }
  #leaf-drop {
    max-width: 400px;

  }
}

#section3 {
  margin-top: 6rem;

  h2 {
    margin-bottom: 4rem;
  }

  #grid {
    display:grid;
    text-align: center;
    grid-template-areas:
      "square1 square2"
      "square3 square4";
    
    #square1 {
      grid-area: square1;
    }

    #square2 {
      grid-area: square2;
    }

    #square3 {
      grid-area: square3;
    }

    #square4 {
      grid-area: square4;
    }

    #square1, #square2, #square3, #square4 {
      padding: 3rem;
    }

    h3 {
      margin: 1.5rem 0 1rem 0;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.2rem;
    }

    i {
      color: $primary-color;
    }
  }
}


// Herb Finder
section#finder-info {
  font-size: 1.2rem;
  margin-bottom: 2rem;

  i {
    margin: 0.5rem 1rem 0 0;;
  }

  p {
    line-height: 2rem;
  }
}

section#condition-selector {
  background-color: $light-color;
  margin: 4rem 0rem 4rem 0;

  h2{
    padding: 2rem 2rem 0 2rem;
    margin: 0;
  }
  #buttons {
    background-color: $light-color;
    padding: 2rem;
    
    button {
      margin: 0.8rem;
    } 
  }
}

section#condition-list{
  h2 {
    margin-top: 1rem;
  }
  .condition {
    margin-bottom: 2rem;
  }
  li {
    list-style: none;
  }

  a {
    font-size: 1.2rem;
    &:hover {
      color: $primary-color;
    }
  }
}

// Dispensary
#dispensary {

  i {
    color: $primary-color;
    margin-right: 1rem;
  }

  #card-one p {
    font-weight: 500;
    margin: 1.7rem 0;
  }

  .list-group i {
      margin-top: 0.4rem;
  }  
}


// Materia Medica
.action-indication {
  margin-bottom: 3rem;

  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: $primary-color;
  }

  h4 {
    font-size:1.1rem;
  }

  .actions {
    padding-bottom: 1rem;
  }

  .indications i {
    padding: 0.3rem 0rem 0 0.5rem;
  }
}

#other-info {
  h3 {
  color: $primary-color;
  margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  div {
    padding-top: 0;
  }

  #spacer {
    padding-top: 1rem;
  }
}

#herb-select-btns {
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid $dark-color;
}

#herb-id {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: 
    "subs image"
    "subs image";
  margin-bottom: 3rem;
   
  #herb-title {
    margin: 0 0 2rem 0;
    padding-bottom: 2rem;
  }

  #herb-subtitles {
    grid-area: subs;
  }

  #herb-img{
    img {
    grid-area: image;
    max-height: 400px;
    }
  } 
}







