@import 'config';
@import 'utilities';

// Resets
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

// Core styling
body, html {
  height:100%;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #333;
  background-color: #fff;
  /* color: #fff; */
}

a {
  text-decoration:none;
}

ul {
  list-style: none;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
    padding: 0.45rem;
    margin: 0 0.25rem;
    color: $light-color;

    &:hover {
      color: $primary-color;
    }
  }

  i {
    color: $primary-color;
  }
}

.navbar-logo {
  font-size: 2em;
}





// Landing Page

.pimg1, .pimg2, .pimg3{
  position: relative;
  opacity: 0.70;
  background-position:center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment: fixed;

  a {
    color: #000;
  }
}

.pimg1{
  background-image: url('../images/pimg1.jpeg');
  min-height: 100vh;
}

.pimg2{
  background-image: url('../images/pimg2.jpeg');
  min-height: 400px;
}
.pimg3{
  background-image: url('../images/pimg3.jpeg');
  min-height: 400px;
}

.section{
  text-align: center;
  padding:50px 80px;
}

.section-light{
  background-color: $light-color;
  color:#666;
}

.section-dark{
  background-color: $dark-color;
  color: #ddd;
}

.ptext{
  position:absolute;
  top:45%;
  width:100%;
  text-align:center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext.title{
  font-size:40px;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px
}

.ptext .border.trans{
  background-color: transparent;
  color: #000;
}

.pimg2 a{
  color:#f4f4f4;
}